nav {
  display: flex;
  position: fixed;
  padding: 0px;
  left: 50%;
  top: 2.5%;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);

  color: white;
  backdrop-filter: blur(10px);
  background: rgba(22, 22, 23, .8);
}

nav a {
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.3s ease;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 16px;
}

nav a:hover {
  color: rgba(255, 255, 255, 1);
  transition: color 0.3s ease;
}